body {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    background-color: #fbf4e2;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
}
.navbar a:hover {
    cursor: pointer;
    color: #b4d51e;
}
.navbar a {
    color: #463C74;
    text-decoration: none;
}
.btn {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #b4d51e;
}
.btn:hover,
.btn:focus {
    color: #fff;
    background-color: #463C74;
    border-color: #463C74;
}
.herodiv{
    border-radius: 5%;
}
.headertext {
    text-align: center;
    text-align: center;
}
.heroimage{
    flex-direction: row;
    justify-content: flex-end;
}
.illustrationhero{
    margin-left: 420px;
}
h1,h3{
    color: #463C74;
    font-weight: 700;
}
h6 {
    color: #463C74;
    font-weight: 500;
}
.slide{
    background-color: white;
    padding: 10px;
}
.footer{
    background-color: #FBF4E2;
    padding: 20px;
    margin-top: 40px;
}
.card{
    box-shadow: 0 4px 30px grey;
}